<h1>チャット</h1>
<br>
<p> 1.嘘をつかないでスコ～</p>
<br>
<p> 2.不適切な言葉を使用しないでほしいスコ～</p>
<br>
<p> 3.個人が特定できるようなことは書かないでスコ～　夜間に捕まえに行くスコ～</p>
<br>
<h1>日誌</h1>
<br>
<p> 1.みんな忘れずに書くスコ～</p>
<br>
<p> 2.コメントにひどい言葉は書かないでスコ～</p>
<br>
<h1>利用規約</h1>
<br>
<p> 1.たまには利用規約に来るスコ～</p>
<br>
<p>みんなで楽しく使うスコ～</p>
