<div class='arrow_box'>
<div class="milin">
<h1>チャット<h1>
<h2> 1.嘘をつかないでスコ～</h2>
<h2> 2.不適切な言葉を使用しないでほしいスコ～</h2>
<h2> 3.個人が特定できるようなことは書かないでスコ～</h2>
<br>
<h1>日誌<h1>
<h2> 1.みんな忘れずに書くスコ～</h2>
<h2> 2.コメントにひどい言葉は書かないでスコ～</h2>
<br>
<h1>利用規約<h1>
<h2> 1.たまには利用規約に来るスコ～</h2>
<h2>みんなで楽しく使うスコ～</h2> 
</div>
</div>
<a href = ' http://localhost:3000'> 戻る </a> 
 