<div class='arrow_box'>
<div class="milin">
<h1>チャット<h1>
<h2> 1.嘘をつかない</h2>
<h2> 2.不適切な言葉を使用しない</h2>
<h2> 3.個人が特定できるようなことは書かない</h2>
<br>
<h1>日誌<h1>
<h2> 1.みんな忘れずに書く</h2>
<h2> 2.コメントにひどい言葉は書かない</h2>
<br>
<h1>利用規約<h1>
<h2> 1.たまには利用規約に来る</h2>
<h2>みんなで楽しく使う</h2> 
</div>
</div>
<a href = ' http://localhost:3000'> 戻る </a> 

<div class="class1">
<%= image_tag '利用規約にいるスコット.png' %>
</div>