<h1>何を話す？</h1>

<table>
  <tbody>
  <% @targets.each do |target| %>
      <tr>
          <td><%= link_to target.janru, rooms_show_path(target_id: target) %></td>
      　　<td><%= link_to '削除', target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新しく何を話したい？', new_target_path %>
<br>
<%= link_to 'トップ画面に戻る', home_top_path %>
