.milin h1 {
    font-size: 50px;
}

.milin h2 {
    font-size: 25px;
}


.arrow_box{
    position:relative;
    width:700px;
    height:600px;
    background:#FFBB05;
    padding:10px;
    text-align:center;
    color:#FFFFFF;
    font-size:30px;
    font-weight:bold;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.arrow_box:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(255, 187, 55, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:19px;
    border-right-width:19px;
    margin-top: -10px;
    border-left-color:#FFBB05;
    left:100%;
    top:34%;
}



.class1 {
    position:absolute;
    top:150px;
    left:950px;
    bottom:200px;
    right:500px;
  }